.ContatoSecao{
    background-image: linear-gradient(#F9F9F9, #F5F5F5);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.ContatoTituloBox{
    grid-column: 2/span 6;
    margin: 200px 0;
}
.ContatoTitulo{
    font-size: 6vw;
    margin-bottom: 40px;
}
.ContatoSubtitulo{
    font-size: 3.5vw;
}

.AreaContato{
    grid-column: 2/span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 200px;
}

.ContatoFormulario{
    /* background-color: red; */
    background-color: white;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.1);
    grid-column: 1/span 4;
    border-radius: 0.7vw;
}

.ContatoFormularioLabel{
    /* background-color: red; */
    width: fit-content;
}
.BotaoEnviarContato{
    all: unset;
}
.ContatoFormularioInputNome, 
.ContatoFormularioInputTel,
.ContatoFormularioInputEmail,
.ContatoFormularioInputMsg,
.BotaoEnviarContato{
    font-size: 1.5vw;
    padding: 3% 0; 
    border-radius: 0.4vw;
    border: none;
}
.ContatoFormularioInputNome, 
.ContatoFormularioInputTel,
.ContatoFormularioInputEmail,
.ContatoFormularioInputMsg{
    padding-left: 5%;
    background-color: #F3F3F3;
}
.ContatoFormularioInputNome:focus, 
.ContatoFormularioInputTel:focus,
.ContatoFormularioInputEmail:focus,
.ContatoFormularioInputMsg:focus{
    background-color: #D9D9D9;
    /* border: none !important; */
    outline: none;
}

.ContatoFormularioInputNome{
    width: 74%;
    display: block;
    margin: auto;
    margin-top: 70px;
}
.ContatoFormularioEmailTelBox{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.ContatoFormularioInputTel, .ContatoFormularioInputEmail{
    width: 42%;
    /* background-color: blue; */
    display: block;
}
.ContatoFormularioInputMsg{
    display: block;
    width: 75%;
    margin: auto;
    margin-top: 40px;
    padding-top: 4%;
}
.BotaoEnviarContato{
    display: block;
    background-color: #FF756C;
    color: white;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    cursor: pointer;
}

.ContatoAreaInformacoes{
    /* background-color: blue; */
    grid-column: 7/span 4;
}
.ContatoInformacoesTexto{
    /* background-color: red; */
    text-align: center;
    font-size: 2.2vw;
}
.ContatoInformacoesIconeBox{
    background-color: #D9D9D9;
    width: fit-content;
    margin: 60px auto;
    padding: 2vw;
    border-radius: 10vw;
}
.ContatoInformacoesIcone{
    font-size: 5vw !important;
    color: white;
}
.ContatoInformacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    margin: 50px auto;
    width: 70%;
    padding: 1.5vw 2vw;
    border-radius: 0.7vw;
}
.ContatoInformacaoIconTextoBox{
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.ContatoInformacaoIcone{
    font-size: 1.5vw;
    /* background-color: chocolate; */
}
.ContatoInformacaoTexto{
    /* background-color: aqua; */
    font-size: 1.3vw;
    margin-left: 1.4vw;
}
.ContatoInformacaoBotaoCopiarBox{
    cursor: pointer;
}