.HomeDescricao{
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #1D1D1D;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  width: 90vw;
  margin: auto;
}

.HomeDescricao *{
  margin: 1rem 0.5rem;
}

.DescTitulo, .DescTexto{
  width: fit-content;
}
.DescTitulo{
  font-size: 1.8rem;
}
.DescTexto{
  font-size: 1rem;
  line-height: 1.3rem;
}

.DescButton{
  padding: 0.8rem 1.4rem;
  font-size: 0.9rem;
  margin: 1.5rem 1rem;
  border-color: transparent;
  background-color: #4C9E29;
  color: black;
  display: flex;
  align-content: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black, 10px 10px 5px #151515;
}
.DescButtonColor{
  color: black;
}



