.ProjetosSection{
    background-image: linear-gradient(black, #130223, #17022C, #280A45);
    color: white;
}

.HomeProjetosTitulo{
    width: fit-content;
    margin: 4rem auto;
    margin-bottom: 7rem;
    font-size: 2.7rem;
}

.HomeProjeto{
    width: fit-content;
    margin: 7rem auto;
}
.HomeProjetoImgMouse{
    width: 80vw;
    height: 45vw;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center;
    align-items: center; */
}
.HomeProjetoBotaoVer{
    border: 2px solid white;
    height: 2rem;
    opacity: 0;
    padding: 0 1rem;
    transition: opacity 1s;
}
.HomeProjetoImgMouse:hover{
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.HomeProjetoImgMouse:hover .HomeProjetoBotaoVer{
    opacity: 1;
}
.HomeProjetoImgMouse:hover .HomeProjetoDescArea{
    height: 70%;
}
.HomeProjetoImgMouse:hover .HomeProjetoDesc{
    opacity: 1;
}
.HomeProjetoImg{
    width: 80vw;
    height: 45vw;
}
.HomeProjetoAreaTitulo{
    background-color: rgba(0, 0, 0, 0.6);
    /* position: relative; */
    height: 30%;
    padding: 0 1rem;
    /* top: -2rem; */
    /* bottom: -1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HomeProjetoTitulo{
    width: fit-content;
    /* margin: 1.5rem auto; */
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}
.HomeProjetoDescArea{
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.6);
    height: 0px;
    transition: height 0.5s;
    transition-timing-function: ease-out;
}
.HomeProjetoDesc{
    padding: 1rem;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.7s;
}

.HomeProjetosBotao{
    display: block;
    margin: 5rem auto;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}