.HomeTecnologiasSection{
    padding: 3rem 2rem;
    background-image: linear-gradient(#2F0559, black);
    color: white;
}

.HomeTecnologiasSecaoTitulo{
    width: fit-content;
    margin: 4rem auto;
    font-size: 2.7rem;
    text-align: center;
}

.TecnologiasArea{
    margin: 10rem auto;
    /* background-color: red; */
}

.TecnologiasTipoArea{
    /* background-color: red; */
    /* margin-top: 8rem; */
}
.TecnologiasTipoTitulo{
    font-size: 2.2rem;
    margin: 4rem auto;
    font-weight: 320;
}

.Tecnologia{
    /* background-color: gold; */
    width: fit-content;
    margin: 2.5rem auto;
    padding: 0.8rem 0.4rem;
}
.TecnologiaImg{
    width: 20vw;
    height: 20vw;
    margin: auto;
    display: block;
}
.TecnologiaNome{
    /* background-color: blue; */
    width: fit-content;
    margin: 1rem auto;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}
