.HomeTecnologiasSection{
    padding: 3rem 0;
    background-image: linear-gradient(#6110B2, #6A1AB9, #531195, #420d76, black);
    color: white;
}

.HomeTecnologiasSecaoTitulo{
    width: fit-content;
    margin: 4rem auto;
    font-size: 2.7rem;
    text-align: center;
}

.TecnologiasArea{
    margin: 10rem auto;
    margin-top: 7rem;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
}

.TecnologiasTipoArea{
    /* background-color: red; */
    /* margin-top: 8rem; */
}
.TecnologiasTipoTitulo{
    font-size: 2.2rem;
    margin: 4rem auto;
    font-weight: 320;
}

.Tecnologia{
    /* background-color: gold; */
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.5);
    /* margin: 2.5rem auto; */
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}
.Tecnologia:hover{
    border-left: 5px solid white;
}
.TecnologiaImg{
    width: 1.5rem;
    height: 1.5rem;
    /* margin: auto; */
    margin-right: 0.5rem;
    display: block;
}
.TecnologiaNome{
    /* background-color: blue; */
    width: fit-content;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 350;
    /* letter-spacing: 0.2rem; */
}
