.Navbar{
    font-size: 1.4vw;
    margin: 3vw 0;
    /* background-color: red; */
}

.NavEsquerda{
    /* background-color: red; */
    grid-column: 2/span 5;
}
.NavDireita{
    grid-column: 7/span 5;
}

.NavPreto{
    color: rgba(255, 255, 255, 0.8);
}
.NavBranco{
    color: rgba(0, 0, 0, 0.8);
}

.NavbarList{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.NavbarItem{
    cursor: pointer;
    /* color: red; */
}

.NavPreto .NavbarItem:hover{
    color: #FFFFFF;
}
.NavBranco .NavbarItem:hover{
    color: #000000;
}

.NavbarBotaoMenuBox{
    /* margin-top: 10vw; */
}
.NavbarBotaoMenu{
    font-size: 7vw;
    margin-top: 2vw;
}
.NavbarListAberta{
    font-size: 4vw;
    list-style-type: none;
    /* background-color: red; */
    overflow: hidden;
    transition: height 1s;
}
.NavbarListAberta li{
    /* background-color: red; */
    margin: 2.5vw 0;
    width: fit-content;
}
.BotaoFecharMenu{
    font-size: 8vw !important;
    margin-left: -1.5vw;
}

@media (max-width: 768px) {
    .Navbar{
        /* background-color: red; */
        height: 40vw;
        margin-top: 7vw;
    }

}