/* footer{
  background-color: #1D1D1D;
  border-top: 1px solid white;
  position: relative;
  bottom: 0;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  margin-top: 7rem;
}
.LinkContatoColor{
  color: white;
} */

h3{
  margin: 0px;
  background-color: purple;
  width: fit-content;
}

.FooterRedes, .FooterContato{
  display: flex;
  justify-content: space-between;
}

.FooterRedes{
  background-color: red;
}
.FooterContato{
  background-color: aqua;
}
.FooterCreditos{
  background-color:chartreuse;
}

.TextoCreditos{
  width: fit-content;
  margin: auto;
}
