.ApresentacaoSection{
  background-color: red;
  margin-top: 0px;
}

article{
  
  margin: 0px;
  overflow: hidden;
}
.TituloArticle{
  margin: 0px;
  background-color: purple;
}
.ApresentacaoTitulo{
  width: 90vw;
  margin: 15rem 0px;
  background-color: blue;
  font-size: 7rem;
}

.DescArticle{
  background-color: darkgreen;
}
.ApresentacaoDescricao{
  background-color: aquamarine;
  margin: 7rem auto;
  width: 90vw;
  padding: 1rem 2rem;
  font-size: 2rem;
}