.TecnologiasSection{
  background-color: gold;
}

.TecnologiasTitulo, .TecnologiasLista{
  margin: 4rem auto;
}
.TecnologiasTitulo{
  background-color: darkcyan;
  font-size: 4rem;
}
.TecnologiasLista{
  background-color: deeppink;
  width: fit-content;
  /*padding: 1rem;*/
}

.TecnologiaImg{
  width: 70vw;
}

.TecnologiasSlide{
  display: flex;
  background-color: purple;
  margin: 7rem 0;
}
.SlideArea{
  display: flex;
}
